* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./image/cropped-3840-2160-1129258.png);
    flex-direction: column;
    
    
}
.box {
    position: relative;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px;
}
.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent, 
    #d4d4d4);
    animation: animate 4s linear infinite;
    animation-delay: 2s;
    border-radius: 20px;
}

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,
     #5900ff);
    animation: animate 4s linear infinite;
    border-radius: 20px;
}

@-webkit-keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }

}


.box span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #000000;
    z-index: 1;
}

.instgram  {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.Discord {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Github {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Telegram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmail {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
    font-size: 1.1rem;
}

button {
    margin-left: 0px;
    margin-top: 0px;
    width: 290px;
    height: 40px;
    border-radius: 19px;
    background-color: #151318;
    font-size: x-large;
    font-weight: bolder;
    border: none;

}

a {
    text-decoration: none;
    color: #b6b4b3 ;
    font-family: sans-serif;
    order: none;
}

button:hover {
    background-color: #5900ff;
    transition: all .8s ease;
}

img {
    width: 200px;
    height: 190px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 0.3em #19022e;
    animation: pulse 1s infinite;
    

}

@keyframes pulse {
    0% {box-shadow: #5900ff 0 0 0 0;}
    80% {box-shadow: #ff280000 0 0 0 20px;}
}

img:hover {
    filter:contrast(79%);
    transition: all .4s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
    border: solid 0.5em #13071b;
    animation: text 1s infinite;

}



.text {
    color: #b6b4b3;
    
    font-family: 'Cinzel', serif;
    
}

.text:hover {
    color: #3b3a3a;
    cursor: pointer;
    transition: all .4s ease;
    margin-top: 4px;
}

.text-links {
    color:#8d8a88;
    margin-bottom: 8px;
    margin-left: 25px;
    
    
}

.text-contact {
    margin-top: 50px;
    color: #8d8a88;
    
}


.button-gmail {
    cursor: text;
}

.text-front {
    margin-bottom: 50px;
    color: #3b3a3a;
    margin-left: 50px;

}

i {
    margin-right: 10px;
}

.fa-telegram {
    margin-left: 30px;
}

.fa-discord {
    margin-left: 16px;
}

.fa-instagram {
    margin-left: 30px;
}



.text-links:hover {
    color: #3b3a3a;
    transition: all .5s ease-in-out;
}

.text-contact:hover {
    color: #3b3a3a;
    transition: all .5s ease-in-out;
}


#preloader {
    background: url(./image/cropped-3840-2160-1129258.png), #000000;
    height: 1000px;
    width: 3000px;
    position: fixed;
    z-index: 100;
}
#preloader lottie-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 400px;
    height: 400px;

}




